.accordion {
    background-color:whitesmoke;
    color: #444444;
    cursor: pointer;
    padding:18px;
    display: flex;
    allign-items:center;
    border:none;
    outline:none;
    transition: background-color 0.6s ease;
}
.accordion:hover,
.active{
    background-color: lightsteelblue;
}

.accordion__title{
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.accordion__content{
    background-color: lightsteelblue;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.accordion__text{
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;

}