*{
  box-sizing: border-box;
  margin:0;
  padding:0;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  color: cornflowerblue;
}
h2{
  color: dimgray;
}
h3 {
   color:#61dafb;
 }
h4 {
  color:#282c34;
}
img{
  height:150px;
}